<div class="col-2">
  <h2>
  Get books
  </h2>
  <p>GET<a href="http://bookslist1.herokuapp.com/api/v1/books">/api/v1/books</a>
  </p>
  <h2>Get books by keyword</h2>
  <p>GET<a href="http://bookslist1.herokuapp.com/api/v1/books?keyword=">/api/v1/books?keyword=</a>
  </p>
  <h2>Get books by genre</h2>
  <p>GET<a href="http://bookslist1.herokuapp.com/api/v1/books?filter=">/api/v1/books?filter=</a>
  </p>
  <h2>Add new book</h2>
  <p>POST/api/v1/books</p>
  <h3>book json format</h3>
  <p>{
    <br/>&nbsp;&nbsp;&nbsp;"book" : {
    <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"title" : "Settle&nbsp;for&nbsp;More" ,<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"author" : "&nbsp;Megyn&nbsp;Kelly" ,<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"description" : "Some text" ,<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"amazon_id" : "B01ER6LIXA" ,<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"genre_ids" : [
    <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6 ,<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;12<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;] ,<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"rating" : 4<br/>&nbsp;&nbsp;&nbsp;}<br/>
    }</p>
  <h2>Get genres</h2>
  <p>GET&nbsp;<a href="http://bookslist1.herokuapp.com/api/v1/genres">/api/v1/genres</a>
  </p>

</div>
