<div class="col-1">
  <ul class="navbar-vertical">
    <li class="<%= 'active' if controller.controller_name == 'books' %>">
      <%= link_to 'Books', admin_books_path %>
    </li>
    <li class="<%= 'active' if controller.controller_name == 'genres' %>">
      <%= link_to 'Genres', admin_genres_path %>
    </li>
</ul>
  <br>
</div
