  <div class='row'>
    <div class='col-6'>
      <p>
        <form>
          <div class='col-3'>
            <input type='text' value='<%= params[:keyword] %>' name='keyword' placeholder='Keyword' >
          </div>
        </form>
      </p>
      <p class='right'>
        <a href='#' id='show-form' class='button'>New Book Form</a>
      </p>
    </div>
  </div>
  <hr>
<%= render 'form' %>
  <div class="row">
    <div class="col-5">
      <ul class="unstyled book-list">
        <%= render @books %>
      </ul>
    </div>
    <div class="col-1">
      <h2>Genres</h2>
      <ul class="list-unstyled">
        <% @genres.each do |genre| %>
          <li>
            <%= link_to genre.name, books_path(filter: genre.name),class: 'label' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
